*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(105, 99, 99);
    margin: 0 auto;
}